<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include your stylesheets, scripts, and other head elements here -->
</head>
<body>

  <div class="table-container">
    <div class="right-table">
      <h2>Recent Debit Activity</h2>
      <table mat-table [dataSource]="orders" class="mat-elevation-z8">
        <ng-container matColumnDef="transactionDebitId">
          <th mat-header-cell *matHeaderCellDef> Order ID </th>
          <td mat-cell *matCellDef="let order">{{ order.transactionDebitId }}</td>
        </ng-container>
        <ng-container matColumnDef="merchName">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let order">{{ order.product.merchName }}</td>
        </ng-container>
        <ng-container matColumnDef="transactionDateTime">
          <th mat-header-cell *matHeaderCellDef> Order Placed at </th>
          <td mat-cell *matCellDef="let order">{{ order.transactionDateTime | date}}</td>
        </ng-container>
        <ng-container matColumnDef="merchCost">
          <th mat-header-cell *matHeaderCellDef> Bytes </th>
          <td mat-cell *matCellDef="let order">{{ order.product.merchCost }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
    </div>
    </div></body></html>
