.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .left-table,
  .right-table {
    width: 80%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 0 10px 0;
    border-radius: 15px;
    background-color: #9c989e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .left-table h2,
  .right-table h2 {
    font-size: 24px;
    
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .left-table {
    order: 2;
    border-radius: 15px;
  }
  
  .right-table {
    order: 1;
    border-radius: 15px;
  }
  
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
  }
  
  .top-section-part {
    margin: 20px;
  }
  
  h1 {
    color: #000000;
    text-align: center;
  }
  
  .mat-elevation-z8 {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    overflow-x: auto;
    border-radius: 15px;
    overflow: hidden;
  }
  
  td {
    padding: 15px;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  th {
    background-color: #266dd0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
    font-family: 'Arial', sans-serif;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
  }
  
  tr:hover {
    background-color: #266dd0;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  /* Add animation to rows */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .mat-row {
    animation: fadeIn 0.5s ease;
  }
  
  /* Additional Animation for cells */
  td:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  

  .mat-mdc-header-row{
    background-color: #4e135a;
  }